// app global css in SCSS form

@font-face {
    font-family: 'Quicksand';
    src: url("/static/fonts/Quicksand-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Twemoji Country Flags";
    unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067,
      U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
    src: url('/static/fonts/TwemojiCountryFlags.woff2') format('woff2');
    font-display: swap;
}


.muted-pill{
    background-color: #79917211;
    border: 1px solid #52525276;
    color: #dfdfdf;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;

    &.dense {
        padding: 2px 6px;
    }

    &.green {
        background-color: #46755755;
        border-color: #41814f4d;
        color: #dfdfdf;
    }
    &.purple {
        background-color: #62467555;
        border-color: #7641814d;
        color: #dfdfdf;
    }
    &.blue {
        background-color: #464f7555;
        border-color: #415c814d;
        color: #dfdfdf;
    }
    &.red {
        background-color: #75464655;
        border-color: #8141414d;
        color: #dfdfdf;
    }
    &.yellow {
        background-color: rgba(148, 145, 96, 0.149);
        border-color: #7e81414d;
        color: #dfdfdf;
    }
    &.orange {
        background-color: #75644655;
        border-color: #8162414d;
        color: #dfdfdf;
    }

}

.muted-container-purple {
    background-color: #45384f;
    color: #dbcde4;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-inline-row{
    display: inline-flex;
    flex-direction: row;
}

.flex-inline-column{
    display: inline-flex;
    flex-direction: column;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}





.title-case {
    text-transform: capitalize;
}

.q-table th{
    font-size: 18px;
 }
 .q-table tbody td {
    font-size: 16px;
 }

* {
    font-family: 'Twemoji Country Flags', 'Quicksand';
    font-size: 18px;   



    .q-toggle  {
        * {            
            font-size: 40px;
        }        
    }

    
}


.wrapper{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--titlebar-height)); 
    width: 100%;
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.q-drawer{
    .q-router-link--active {
        color: $secondary;
        background-color: #1d1d1d;
    }
}

.main-menu-drawer{

    // background-color: #181b18;  
    background-color: var(--background);
    .q-drawer__content{
        padding-top: 10px;
    }
    .main-menu-drawer-content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #171c17ae; 
        border-radius: 10px;
        border: 1px solid var(--titlebar-border-color);
    }
}

.q-list{
    .q-item--active{
        color: $secondary;
    }
}


.q-card{
   // margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    border: 1px solid #454;
    transition: all 0.3s;
    overflow: hidden;

    .shadowed{
        background-color: #cccccc15;
    }
    &.hoverable:hover, &.q-hoverable:hover {
        background-color: rgb(55, 67, 55);
    }

}

.border-rounded {
    border-radius: 15px;
}

.vue-pdf-embed > div{
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden
  }

  .page-wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .dialog-window-md, .dialog-window-lg{   
    display: flex;
    flex-direction: column;   
    min-width: 300px;
    max-width: 80vw;
    min-height: 300px;
    max-height: 80vh;
    // Second child to flex 1
    > :nth-child(2){
      flex: 1;
      overflow: auto;
    }
  }

  .dialog-window-md{  
    width: 600px;
    height: 600px; 
  }

  .dialog-window-lg{
    width: 900px;
    height: 700px;    
  }

  .w-100 {
    width: 100%;
  }

    .h-100 {
        height: 100%;
    }

  .h-100v{
    height: calc(100vh - $titlebar-height);
  }

.accent-bordered-radius {
    border-radius: 20px;
    border-bottom-left-radius: 10px;
}

.accent-bordered {
    border: 1px solid #555;
    border-radius: 20px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    &.accent-bordered-green {
        border: 1px solid #26351e; 
    }
}

.accent-card{
    background-color: #aaccaa11;
    border: 1px solid #26351e;
    padding: min(10px, 2em);
}

.clickable{
    cursor: pointer;
}

.unselectable {
    user-select: none;    
    -webkit-user-select: none;
}

* {
    &::-webkit-scrollbar {
        width: 20px;
    }
    &::-webkit-scrollbar-corner {
        background: rgba(0,0,0,0);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
        border-radius: 8px;
        border: 4px solid rgba(0,0,0,0);
        background-clip: content-box;
        min-width: 32px;
        min-height: 32px;
    
        &:hover {
            background-color: var(--scrollbar-thumb-hover); 
        }
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(0,0,0,0); 
    }
}


.pull-below-titlebar {
    margin-top: var(--titlebar-height);
  }

.main-container {
    height: calc(100vh - var(--titlebar-height));
    overflow-y: auto;
    padding-top: 0;
    padding-bottom: 0;
   
}

.height-100-titlebar {
    height: calc(100vh - var(--titlebar-height));
}

.padding-top-titlebar {
    padding-top: var(--titlebar-height);
}

.no-padding {
    padding: 0;
}

.border{
    border: 1px solid #9996;
}

.no-drag {
    app-region: no-drag;
}

.titlebar-button {
    app-region: no-drag;
}

.titlebar {
    height: var(--titlebar-height);
    background-color: var(--titlebar-background);
    color: var(--titlebar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    app-region: drag;
    z-index: 100000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;       
  }

  .titlebar-placeholder {
    height: var(--titlebar-height);
}


.bg-titlebar{
    background-color: var(--titlebar-background);
    color: var(--titlebar-text-color);   
}

.bg-fading{
    background-color: var(--fading-background);
    color: var(--fading-text-color);   
}

.dialog-window-md, .dialog-window-lg{   
    display: flex;
    flex-direction: column;   
    min-width: 300px;
    max-width: 80vw;
    min-height: 300px;
    max-height: 80vh;
    // Second child to flex 1
    > :nth-child(2){
      flex: 1;
      overflow: auto;
    }
  }

  .dialog-window-md{  
    width: 600px;
    height: 600px; 
  }

  .dialog-window-lg{
    width: 900px;
    height: 700px;    
  }

  .dialog-window-lg-wide{
    width: 1400px;
    height: 700px;    
    max-width: 100%;
  }


  .w-100 {
    width: 100%;
  }

    .h-100 {
        height: 100%;
    }

*::selection {
    color: var(--selection-color);
    background-color: var(--selection-background);
    }
      
.flex-1{
    flex: 1;
}
.full-size-modal{

    > * {        
        width: 100vw;
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        top: 60px;
        padding: 10px;
        justify-content: stretch;
        align-items: stretch;
        > .q-card {
            flex: 1;
            width: 100%;
            max-width: none;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: stretch;
        }
    }

  

} 

.standout-input{ 
    background-color: rgb(35, 35, 35) !important;
    color: #dfdfdf !important;

    .q-field__native, .q-field__control-container, .q-field__append{
        color: #b8e8bb !important;
    }
}

.material-card{
    background-color: #ffffff11;
    border: 1px solid #444;
    box-shadow: none;

    &.material-card-filled {
        background-color: #151515;
    }

    &.clickable{
        cursor: pointer;
        &:hover {
            background-color: #ffffff22;            
        }
    }

    &.material-card-muted {
        background-color: #79917211;
        border-color: #52525276;

        &.clickable {
            &:hover {
                background-color: #79917222;
                border-color: #525252b8;
            }
        }
    }

 
}

.text-outline, .text-muted {
    color: #dfdfdf;
}

.muted-action-btn {
    background-color: #d1d8d018;
    border: 1px solid #e5ede418;
    color: #dfdfdf;
    transition: all 0.3s;
    &:hover { 
        background-color: #91de9e17;
        border-color: #555;
    }
}

.muted-tooltip {
    background-color: #1d1d1d;
    border: 1px solid #e5ede418;
    color: #dfdfdf;
    font-size: 0.75em;
    &:hover { 
        background-color: #91de9e17;
        border-color: #555;
    }
}

.selection-item-box {
    background-color: #292929;
    transition: box-shadow 0.3s ease;
    border: 1px solid transparent;
    &:hover {
        background-color: #3a3a3a;
        border: 1px solid #555;
    }
    &.active {
        background-color: #343d34;
        border-color:#a2c2a5;
        color: #c5d8c6;
        &:hover {
            background-color: #3b4b3b;
            border-color: #617f54;
        }
    }
}
